.judul{
    color: white;
    font-size: 40px;
    line-height: 2em;
}
.judul:hover{
    color: #FFA500;
}
.menu{
    color: white;
    font-size: 18px;
    background: none;
	border: none;
	padding: 0;
}

.menu:hover{
    color: #FFA500;
}

.menu:active{
    color: #FFA500;
}
.card{
    border-radius: 20px;
    background-color: #637EB2;
}
.card-body{
    border-radius: 20px;
}
.card-title{
    color: white;
}
img{
    color: white;
    border-radius: 20px;
}