.judul {
    color: white;
    font-size: 40px;
    line-height: 2em;
}

.judul:hover {
    color: #FFA500;
}

a {
    text-decoration: none;
}

.bi {
    color: white;
    background: none;
    border: none;
    padding: 0;
}

.bi:hover {
    color: #1F4690;
}

.search {
    margin-left: 60em;
    padding: 0;
}

.menu {
    text-decoration: none;
    color: white;
    font-size: 18px;
    background: none;
    border: none;
    padding: 0;
}

.menu:hover {
    color: #FFA500;
}

.menu:active {
    color: #FFA500;
}

.card {
    border-radius: 20px;
    background-color: #637EB2;
    padding: 0;
    margin: 0;
}

.card-body {
    border-radius: 20px;
}

.card-title {
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.card-info {
    color: white;
}

.card:hover {
    transform: scale(1.08, 1.08);
}

img {
    color: white;
    border-radius: 20px;
}